<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Mediscreen Form</title>-->
<!--    <script src="/script.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Welcome to Mediscreen</h1>-->

<!--<form action="http://localhost:8081/patient/add" method="post">-->
<!--    <label for="address">Address:</label>-->
<!--    <input type="text" id="address" name="address" required><br><br>-->

<!--    <label for="dob">DOB:</label>-->
<!--    <input type="date" id="dob" name="dob" required><br><br>-->

<!--    <label for="family">Family:</label>-->
<!--    <input type="text" id="family" name="family" required><br><br>-->

<!--    <label for="given">Given:</label>-->
<!--    <input type="text" id="given" name="given" required><br><br>-->

<!--    <label for="sex">Sex:</label>-->
<!--    <select id="sex" name="sex">-->
<!--        <option value="male">Male</option>-->
<!--        <option value="female">Female</option>-->
<!--    </select><br><br>-->

<!--    <label for="phone">Phone:</label>-->
<!--    <input type="tel" id="phone" name="phone" required><br><br>-->

<!--    <input type="submit" value="Submit" class="submit-button">-->
<!--</form>-->

<!--<h2>All Patients</h2>-->
<!--&lt;!&ndash;<table id="patientsTable">&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Id</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Address</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>DOB</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Family</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Given</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Sex</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Phone</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="patient : ${patients}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.id}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.address}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.dob}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.family}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.given}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.sex}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${patient.phone}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->